<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%- site.description %>">
    <meta name="keywords" content="<%- general.keywords %>">
    <meta name="theme-color" content="<%- general.color %>">
    <meta name="language" content="pl_PL">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href="<%- general.url %><%- general.favicon %>">
    <link rel="icon" sizes="192x192" href="<%- general.url %><%- general.favicon %>">
    <link rel="stylesheet" type="text/css" href="<%- general.url %>style.css">
    <link rel="stylesheet" type="text/css" href="<%- general.url %>bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title><%- site.name %> | <%- general.name %></title>
</head>
