<nav class="navbar navbar-expand-md fixed-top navbar-dark color">
    <a class="navbar-brand" href="<%=general.url %>"><%= general.name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <% for(const item in navbar) { %>
            <li class="nav-item">
            <% if(navbar[item].icon) { %>
                <a class="nav-link" href="<%= navbar[item].url %>"><i class="<%= navbar[item].icon %>"></i> <%- navbar[item].name %><span class="sr-only"></span></a>
            <% } else { %>
                <a class="nav-link" href="<%= navbar[item].url %>"> <%- navbar[item].name %><span class="sr-only"></span></a>
            <% } %>
            </li>
        <% } %>
        </ul>
        <% if(general.rightitem.name && general.rightitem.url) { %>
        <div class="navbar-nav ml-auto">
            <li class="nav-item nav-link"><a class="nav-link" href="<%- general.rightitem.url %>"><%- general.rightitem.name %></a></li>
        <div>
        <% } %>
    </div>
</nav>
<div class="margin-up"></div>